html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom css */

* {
	font-family: 'Delicious Handrawn', cursive;
}

.container {
	width: 25%;
}


.flex {
	display: flex;
}

.space-around {
	justify-content: space-around;
}


/* TempApp */
.main {
	width: 100%;
	height: 100vh;
	background-color: #42ADFD;
	padding-top: 10rem;
}
.box {
	text-align: center;
	background-color: white;
	height: 40vh;
	padding: 2rem 0;
	border-radius: 8px;
}
h1 {
	font-size: 2rem;
	color: #42ADFD;
}
.inputField {
	padding: 0.5rem;
	margin-top: 1rem;
	width: 50%;
	border-radius: 1rem;
	font-size: 1.5rem;
}

.median-line {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}
.line {
	width: 20%;
	border-top: 1px solid gray;
}
.err {
	font-size: 2rem;
	font-family: 'Delicious Handrawn', cursive;
	margin-top: 3rem;
}

.or{

	margin: 0 1rem;
	font-family: 'Delicious Handrawn', cursive;
	font-size: 1.2rem;
}

.btn {
	padding: 0.5rem;
	border-radius: 1rem;
	width: 50%;
	font-size: 1.5rem;
	background-color: #42ADFD;
	color: aliceblue;
}


/* info */

.info {
	width: 20%;
	background-color: white;
}
.child-box {
	border-radius: 8px;
	margin: 0 auto;
	padding: 1rem 0;
	text-align: center;
}
.parent-box {
	
	background-color: #42ADFD;
	height: 100vh;
	padding: 10rem 0;
}
header {
	padding: 0.6rem;
}
.arrow {
	font-size: 2rem;
	color: #42ADFD;
}
.location {
	margin: 1rem 0;
	font-size: 1.5rem;
}
.weather {
	margin-left: 1rem;
}
.sky {
	margin: 1rem 0;
	font-size: 1.5rem;
}
.temp {
	font-size: 3rem;
}
.mid {
	font-family: 'Delicious Handrawn', cursive;
	text-align: center;
}
.box-secondary {
	margin: 2rem auto;
}

.icon {
	font-size: 2rem;
	
}

.temp_min_max {
	font-size: 1.2rem;
}

/* Loader style */

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    min-width: 18rem;
  }
